* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(210, 152, 45);
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 49px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 18px;
}

.main-link {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.nav-link:active {
  text-decoration: underline;
}

.search-icon {
  cursor: pointer;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__content {
  margin-left: 158px;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  color: #fff;
}

.about__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  padding-bottom: 9px;
}

.about__text {
  font-weight: 500;
  font-size: 16px;
  color: rgb(43, 38, 29);
  padding-bottom: 9px;
}

.try-btn {
  width: 114px;
  height: 36px;
  background-color: rgb(43, 38, 29);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.warning-btn {
  width: 180px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: #f5b747;
  cursor: pointer;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  background: url("../assets/home/vawes.png");
  height: 263px;
}

.info-container {
  width: 371px;
  height: 123px;
}

.info__header {
  display: flex;
  align-items: center;
}

.info__title {
  font-weight: 500;
  font-size: 24px;
}

.plan-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 83px;
  padding: 26px 0;
  background-color: rgb(224, 161, 46);
}

.plan__content {
  width: 460px;
}

.plan__title {
  font-weight: 600;
  font-size: 48px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.plan__subtitle {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 14px;
}

.plan__list {
  display: flex;
  gap: 5px;
  margin-bottom: 6px;
}

.plan__text {
  font-weight: 500;
  font-size: 20px;
}

.plan__text-white {
  color: rgb(255, 255, 255);
}
